h2{
	text-align: center;
}

.mc-bloc{
    margin: 3vmin;
}

.cards{
    display: flex;
}

.sisterCard{
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1vmin;
    padding: 1vmin;
    width: 400px;
   
}

.sisterCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info{
    padding: 2px 16px;
    float: right;
}

.img-circle {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    float:center;
}

.right{
    float:right;
}

.left{
    float:left;
}
