body{
	font-family: 'Raleway', sans-serif;
}

h1{
	text-align: center;
	font-size: 10vmin;
}

h2{
	text-align: center;
	font-size: 4vw;
}

h5{
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 3vw;
}

.title img{
	width: 75vmin;
	height: 18vmin;
}

.menuBar li{
	font-size: 2vw;
	display: inline;
	padding: 15px;
}

.dropdown li{
	font-size: 2vw;
	display: inline;
	padding: 15px;
}

.title{
	padding: 20px 50px;
	line-height: 50%;
}

a:link{ /*unvisited link*/
	color: black;
	text-decoration: none;
}

a:visited{ 
	color: black;
}

a:hover{ 
	color: blue;
}

* {box-sizing:border-box}

#icon:hover{
	opacity: .6;
}

#icon{
	padding: 15px;
}

.icons{
  padding-top: 7vh;
}

.icons img{
	height: 7vmin;
	width: 7vmin;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content, .dropdown:active .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}